@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body {
  background: rgb(8,149,182);
  background: linear-gradient(90deg, rgba(8,149,182,1) 0%, rgba(24,115,209,1) 39%);
}

.App {
  text-align: center;
}